/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2017, 12:14:23 AM
    Author     : Bilal
*/

body                   {margin: 0px; font-family: 'Lucida Grande', Verdana, sans-serif}
#links                 {position: absolute; top: 150px; left: 2px; width: 1000px}
#links ul              {list-style-type: none; padding: 0px; margin: 0px}
#links li              {display: inline; float: left; font-size: 14px; margin-right: 0px;
                        background: url(images/right.jpg) no-repeat 100% 50%; color: white}

#links a               {display: block; color: white; text-decoration: none;
                        background: url(images/left.jpg) no-repeat 0% 50%; padding: 4px 15px}

#links a:visited {color: white}

#links a:hover   {color: cyan}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
th {
  background-color: grey;
   color: black;  
}

tr:hover {background-color: #f5f5f5} 

tr:nth-child(even) {background-color: #f2f2f2} 